<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pokemon</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="static/css/roboto-font.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/line-awesome/css/line-awesome.min.css">
  <!--<script src='static/js/main.js'></script>
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
  <link rel="stylesheet" href="static/css/style.css"/>
  <link rel="icon" href="static/images/poke.png">
</head>
<body class="form-v2">
	<div class="page-content">
		<div class="form-v2-content">
			<div class="form-left">
				<img src="static/images/poke.jpg" alt="Pokemon" width='400px;' height='800px;'>

			</div>
			<form class="form-detail" action="/hist" method="post" id="myform">
				<h2>Enter Details:</h2>
				<div class="form-row">
					<label for="default">Time of day</label>
					<!--<input type="text" name="full_name" id="full_name" class="input-text" placeholder="ex: Lindsey Wilson">
            -->
          <input type="text" name="timeofday" list="day_list" placeholder="e.g. Morning">

           <datalist id="day_list">
             <option value="morning">
             <option value="afternoon">
             <option value="night">

          </<datalist>


        </div>
        <div class="form-row">
					<label for="default">Day of Week</label>
					<!--<input type="text" name="full_name" id="full_name" class="input-text" placeholder="ex: Lindsey Wilson">
            -->
          <input type="text" name="day" list="weekday" placeholder="e.g. Wednesday">

           <datalist id="weekday">
             <option value="Monday">
             <option value="Tuesday">
             <option value="Wednesday">
               <option value="Thursday">
                <option value="Friday">
                  <option value="Saturday">
                    <option value="Sunday">

          </<datalist>


        </div>
        <div class="form-row">
          <label for="default">Enter Weather (Celcius)</label>
          <input type="number" name="temp" id=weather/>

        </div>
				<div class="form-row">
        <label for="default">Pick City</label>
         <input type="text" id="city" list="city_list" placeholder="e.g. Toronto" name='city'>

        <datalist id="city_list">
          <option value="Adelaide">
          <option value="Amman">
          <option value="Amsterdam">
          <option value="Athens">
          <option value="Auckland">
          <option value="Bahia">
          <option value="Bangkok">
          <option value="Belem">
          <option value="Berlin">
          <option value="Bogota">
          <option value="Boise">
          <option value="Bratislava">
          <option value="Brisbane">
          <option value="Brunei">
          <option value="Brussels">
          <option value="Bucharest">
          <option value="Buenos_Aires">
          <option value="Cairo">
          <option value="Casablanca">
          <option value="Chicago">
          <option value="Copenhagen">
          <option value="Cordoba">
          <option value="Costa_Rica">
          <option value="Damascus">
          <option value="Denver">
          <option value="Detroit">
          <option value="Dubai">
          <option value="Dublin">
          <option value="Edmonton">
          <option value="Fortaleza">
          <option value="Guam">
          <option value="Guayaquil">
          <option value="Guyana">
          <option value="Halifax">
          <option value="Helsinki">
          <option value="Ho_Chi_Minh">
          <option value="Hobart">
          <option value="Hong_Kong">
          <option value="Honolulu">
          <option value="Indianapolis">
          <option value="Isle_of_Man">
          <option value="Istanbul">
          <option value="Jakarta">
          <option value="Jerusalem">
          <option value="Karachi">
          <option value="Kiev">
          <option value="Kolkata">
          <option value="Kuala_Lumpur">
          <option value="Kuching">
          <option value="Lisbon">
          <option value="Ljubljana">
          <option value="London">
          <option value="Los_Angeles">
          <option value="Louisville">
          <option value="Luanda">
          <option value="Luxembourg">
          <option value="Madrid">
          <option value="Manila">
          <option value="Melbourne">
          <option value="Mexico_City">
          <option value="Monrovia">
          <option value="Monterrey">
          <option value="Montreal">
          <option value="Moscow">
          <option value="Nairobi">
          <option value="New_York">
          <option value="Nicosia">
          <option value="Noumea">
          <option value="Oslo">
          <option value="Paris">
          <option value="Perth">
          <option value="Phnom_Penh">
          <option value="Phoenix">
          <option value="Prague">
          <option value="Puerto_Rico">
          <option value="Regina">
          <option value="Reunion">
          <option value="Reykjavik">
          <option value="Rome">
          <option value="Santiago">
          <option value="Sao_Paulo">
          <option value="Sarajevo">
          <option value="Singapore">
          <option value="Stockholm">
          <option value="Sydney">
          <option value="Tahiti">
          <option value="Taipei">
          <option value="Tokyo">
          <option value="Toronto">
          <option value="Tripoli">
          <option value="Tunis">
          <option value="Vancouver">
          <option value="Vienna">
          <option value="Vilnius">
          <option value="Warsaw">
          <option value="Winnipeg">
          <option value="Zagreb">
          <option value="Zurich">



        </datalist>
				</div>
				<div class="form-row">
          <label for="default">Pick Weather</label>
         <input type="text" id="weather" list="weather_list" placeholder="e.g. rain" name='weather'>

        <datalist id="weather_list">
          <option value="Breezy">
            <option value="BreezyandMostlyCloudy">
            <option value="BreezyandOvercast">
            <option value="BreezyandPartlyCloudy">
            <option value="Clear">
            <option value="DangerouslyWindy">
            <option value="Drizzle">
            <option value="DrizzleandBreezy">
            <option value="Dry">
            <option value="DryandMostlyCloudy">
            <option value="DryandPartlyCloudy">
            <option value="Foggy">
            <option value="HeavyRain">
            <option value="Humid">
            <option value="HumidandOvercast">
            <option value="HumidandPartlyCloudy">
            <option value="LightRain">
            <option value="LightRainandBreezy">
            <option value="MostlyCloudy">
            <option value="Overcast">
            <option value="PartlyCloudy">
            <option value="Rain">
            <option value="RainandWindy">
            <option value="Windy">
            <option value="WindyandFoggy">
            <option value="WindyandPartlyCloudy">

        </datalist>

				</div>
				<div class="form-row">
					<label for="">Close to water</label>
          <br />
          <input type="radio" name="smoker" value="No" checked> No
          <br />
          <input type="radio" name="smoker" value="Yes"> Yes
				</div>
        <br />
        <br />
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Submit">
				</div>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
